kind: Secret
type: Opaque
apiVersion: v1
metadata:
  name: shuttleday-frontend-secret
  namespace: shuttleday
stringData:
  REACT_APP_CLIENT_ID: "someReallySuperLongStringHere"
  REACT_APP_API_LINK: "https://link.to.your.api.domain"

  